@model DDD.Mvc.ViewModels.OfferViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OfferViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceBasedOnProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceBasedOnProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfProductsPriceBased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfProductsPriceBased)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
