@model IEnumerable<DDD.Mvc.ViewModels.OfferViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceBasedOnProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfProductsPriceBased)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceBasedOnProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfProductsPriceBased)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfferId })
        </td>
    </tr>
}

</table>
